<!DOCTYPE html>
<html lang="en-US">
<%-  include("partials/head-info") -%>
<body class="hide-overflow">
	
	<div class="preloader-cont" id="preloader-cont">
		<div class="loader-cont">
			<img src="/Images/monophy.gif" class="preloader-img">
			<h1>LOADING...</h1>
		</div>
	</div>
	
	<header id="header-cont">
		
		<div class="header-cont">
		
			<div class="header">
			
				<div class="logo-cont">
					
					<a href="/">
						<img src="/Images/Tharo.png" class="logo">
					</a>
					
				</div>
				
				<div class="bg-color-toggle-cont">
				
					<div class="bg-color-toggle navy-blue" title="Theme-Switcher"></div>
					
					<div class="bg-color-toggle-bundle">
					
						<div class="bg-color-toggle living-coral" title="living-coral"></div>
						<div class="bg-color-toggle rose-quartz" title="rose-quartz"></div>
						<div class="bg-color-toggle navy-blue" id="border" title="navy-blue"></div>
						<div class="bg-color-toggle black" title="black"></div>
						<div class="bg-color-toggle lime" title="lime"></div>
						<div class="bg-color-toggle white" title="white"></div>
					
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</header>
	
	<aside id="nav-cont">
		<nav id="nav" class="nav">
		
			<ul class="nav-list">
			
				<li>
					<a href="#home">
					
						<i class="fa fa-home"></i>
						<h1>Home</h1>
					</a>
				</li>
				
				<li>
					<a href="#about-tharo">
						
						<div class="dog-icon-cont">
							<img src="/Images/Tharo.png" class="dog-icon">
						</div>
						
						<h1>About-Tharo</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-videos">
					
						<i class="fa fa-video"></i>
						<h1>Videos</h1>
					</a>
				</li>
				
				<li>
					<a href="#tharos-pictures">
					
						<i class="fa fa-camera"></i>
						<h1>Pictures</h1>
					
					</a>
				</li>
				
				<li>
					<a href="#contact">
					
						<i class="fa fa-phone"></i>
						<h1>Contact-Tharo</h1>
					
					</a>
				</li>
			
			</ul>
		
		</nav>
	</aside>
	
	<section id="home">
		<!-- autoplay -->
		<!-- <div class="vid-cont" id="vid-cont"> -->
			<video muted class="home-page-vid vid" id="home-page-vid" height="100%" width="100%">
				<source src="/videos/Tharo-home-vid.mp4" type="video/mp4">
			</video>
		<!-- </div> -->
		
		<div class="video-title-cont" id="video-title-cont">
			<div class="video-title">
				<h1>
					Th
				<div class="video-title-img-cont">
					<img src="/Images/Tharo-icon.png" class="video-title-img">
				</div>
					ro
				</h1>
			</div>
			
			<div class="tharo-intro">
				
				<p id="intro-msg"></p>
			
			</div>
		
		</div>
	
	</section>
	
	<section id="about-tharo">
		<!-- autoplay -->
		<video muted class="abt-us-page-vid vid" id="abt-us-page-vid" height="100%" width="100%">
			<source src="/videos/about-us-vid-1.mp4" type="video/mp4">
		</video>
		
		<div class="about-us-video-title-cont" id="about-us-video-title-cont">
			
			<div class="about-us-cont">
				<div class="about-us-title-cont">
					
					<h1> About Me </h1>
					
				</div>
				
				<div class="about-us-descript-cont">
					
					<p>
						Hi again, as I said at the beginning of this page, my name is Tharo, I am a <%= displayLaspedTime("August 4 2021 14:00:00") %> Doberman puppy. My name, 
						Tharo, is a name that is of the origin of an African language called Setswana, it translates to 3 in English. 
						Why was I given the name Tharo? That's because I was born with only 3 legs. My disability hasn't stopped me from being the energetic, 
						active, and playful puppy that I am. Although I might look very different from my siblings, 
						I am no different from them in regards to capability because I can still do everything that they can. 
						I am currently looking for a place to call home and would love for YOU to give me the opportunity to do so. 
					</p>
					
				</div>
			</div>
			
		</div>
	</section>
	
	<section id="tharos-videos">
		
		<div class="sect-title-cont">  
			
			<h1> Videos </h1>
			<p>Check out my videos.</p>
			
		</div>
		
		<div class="vid-slider-box-cont">
		
			<div class="vid-slider-box">
			
				<div class="left-arrow">
					<i class="fas fa-paw" id="left-arrow"></i>
				</div>
				
				<div class="right-arrow">
					<i class="fas fa-paw" id="right-arrow"></i>
				</div>
				
				<div class="carousel-nav-cont">
					<ul class="dots-list-cont">
					
						<li>
							<div class="dot-cont">
								<img src="/Images/ImpassionedAfraidIndianskimmer.webp" class="dot-img">
							</div>
						</li>
						
						<li>
							<div class="dot-cont">
								<img src="/Images/ImpassionedAfraidIndianskimmer.webp" class="dot-img">
							</div>
						</li>
						
						<li>
							<div class="dot-cont">
								<img src="/Images/ImpassionedAfraidIndianskimmer.webp" class="dot-img">
							</div>
						</li>
					
					</ul>
				</div>
				
				<div class="vid-slider-cont">
					
					<ul class="vid-slider-list-cont">
						
						<li class="video-player-cont">
							
							<video class="video-cont" controls id="video-cont">
								<source src="/videos/Tharo-home-vid.mp4" type="video/mp4">
							</video>
						
						</li>
						
						<li class="video-player-cont">
							
							<video class="video-cont" controls id="video-cont">
								<source src="/videos/Tharo.mp4" type="video/mp4">
							</video>
						
						</li>
						
						<li class="video-player-cont">
							
							<video class="video-cont" controls id="video-cont">
								<source src="/videos/about-us-vid-2.mp4" type="video/mp4">
							</video>
						
						</li>
					
					</ul>
					
				</div>
				
			</div>
		
		</div>
	
	</section>
	
	<section id="tharos-pictures">
	
		<div class="picture-collage-section">
			<div class="picture-collage-cont">
				<div class="sect-title-cont">  
					<h1> Pictures </h1>
					<p> Check out my pictures.</p>
				</div>
				
				<div class="picture-collage">
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/Thar.jpg" class="pic">
					</div>
					
					<div class="pic-cont">
						<img src="/Images/tharo1.jpg" class="pic">
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="modal-cont" id="modal-cont"> 
		
			<div class="modal-closer-cont">
				<i class="fa fa-times modal-closer" id="modal-closer"></i>
			</div>
			
			<div class="arrow-cont left">
				<i class="fas fa-arrow-alt-circle-left arrow" id="left-modal-arrow"></i>
			</div>
			
			<div class="arrow-cont right">
				<i class="fas fa-arrow-alt-circle-right arrow" id="right-modal-arrow"></i>
			</div>
			
			<div class="img-counter" id="img-counter">
				<span id="img-counter">1 of 10</span>
			</div>
			
			<div class="picture-collage-modal-section" id="picture-collage-modal-section">
				
				<div class="picture-collage-modal-cont" id="picture-collage-modal-cont">
					<ul class="picture-collage-modal">
					
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/Thar.jpg" class="pic-modal">
						</li>
						
						<li class="pic-modal-cont">
							<img src="/Images/tharo1.jpg" class="pic-modal">
						</li>
						
					</ul>
				</div>
				
			</div>
		
		</div>
	
	</section>
	
	<%
	   const { name, surname, email, tel, message } = formData;
	   let nameVal;
	   let emailVal;
	   let telVal;
	   let messageVal;
	   
	   if(req.method === 'POST'){
		   nameVal = fieldValidator.checkEmpty(name);
		   emailVal = fieldValidator.mailValidator(email);
		   telVal = fieldValidator.telValidator(tel);
		   messageVal = fieldValidator.checkEmpty(message);
	   }
	%>
	
	<section id="contact">
		<div class="contact-section">
			<div class="contact-cont">
				<div class="contact-form-cont">
					<div class="sect-title-cont">  
						<h1> Contact Me </h1>
						<p> Would you love to give me a place in your home?<br> Contact me and lets unite!!! </p>
					</div>
					
					<form method="POST" action="/" class="contact-form">
						<div class="inputField-group-cont">
							<div class="inputField-cont">
								<% if(name === undefined) { %>
								<input type="text" placeholder="Name" name="name" class="inputField" id="name">
								<span class="err-msg"></span>
								<% }else if(name !== undefined && nameVal[1] === false) { %>
								<input type="text" placeholder="Name" name="name" class="inputField" id="name" value="<%= name %>">
								<span class="err-msg" style="display: flex;"><%= nameVal[0] %></span>
								<% }else if(name !== undefined && nameVal[1]){ %>
									<input type="text" placeholder="Name" name="name" class="inputField" id="name" value="<%= name %>">
									<span class="err-msg"></span>
								<% } %>
							</div>
							
							<div class="inputField-cont">
								<% if (surname === undefined) { %>
								<input type="text" placeholder="Surname" name="surname" class="inputField" id="surname">
								<span class="err-msg"></span>
								<% }else { %>
								<input type="text" placeholder="Surname" name="surname" class="inputField" id="surname" value="<%= surname %>">
								<span class="err-msg"></span>
								<% } %>
							</div>
							
						</div>
						
						<div class="inputField-group-cont">
							<div class="inputField-cont">
								<% if(email === undefined) {%>
								<input type="email" placeholder="Email" name="email" class="inputField" id="email">
								<span class="err-msg"></span>
								<% }else if(email !== undefined && !emailVal[1]) { %>
								<input type="email" placeholder="Email" name="email" class="inputField" id="email" value="<%= email %>">
								<span class="err-msg" style="display: flex;"><%= emailVal[0] %></span>
								<% }else if(email !== undefined && emailVal[1]){ %>
								<input type="email" placeholder="Email" name="email" class="inputField" id="email" value="<%= email %>">
								<span class="err-msg"></span>
								<% } %>
							</div>
							
							<div class="inputField-cont">
								
								<% if(tel === undefined) {%>
								<input type="tel" placeholder="Telephone or Cell Phone or Whatsapp" name="tel" class="inputField" id="tel">
								<span class="err-msg"></span>
								<% }else if(tel !== undefined && !telVal[1]) { %>
								<input type="tel" placeholder="Telephone or Cell Phone or Whatsapp" name="tel" class="inputField" id="tel" value="<%= tel %>">
								<span class="err-msg" style="display: flex;"><%= telVal[0] %></span>
								<% }else if(tel !== undefined && telVal[1]){ %>
								<input type="tel" placeholder="Telephone or Cell Phone or Whatsapp" name="tel" class="inputField" id="tel" value="<%= tel %>">
								<span class="err-msg"></span>
								<% } %>
								
							</div>
						</div>
						
						<div class="inputField-cont textarea">
							<% if(message === undefined) { %>
							<textarea class="inputField" name="message" placeholder="Message" id="message" rows="4" cols="50"></textarea>
							<span class="err-msg"></span>
							<% }else if(message !== undefined && messageVal[1] === false) { %>
							<textarea class="inputField" name="message" placeholder="Message" id="message" rows="4" cols="50"><%= message %></textarea>
							<span class="err-msg" style="display: flex;"><%= messageVal[0] %></span>
							<% }else if(message !== undefined && messageVal[1]){ %>
							<textarea class="inputField" name="message" placeholder="Message" id="message" rows="4" cols="50"><%= message %></textarea>
							<span class="err-msg"></span>
							<% } %>
						</div>
						
						<div class="sub-btn-cont">
							<input type="submit" value="Submit" id="sub-btn">
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</section>
	
	<div class="submission-results-modal" id="submission-results-modal">
		<div class="modal-closer-cont">
			<i class="fa fa-times modal-closer" id="modal-closer1"></i>
		</div>
		
		<div class="sub-results-modal-cont" id="sub-results-modal-cont">
			
			<div class="modal-preloader" id="modal-preloader">
				<img src="/Images/monophy.gif" class="loader-img">
				<h1>LOADING...</h1>
			</div>
			
			<div class="sub-results-modal-content" id="sub-results-modal-content">
				<div class="results-cont success" id="success">
				<!-- Sucess --Start-- -->
					<i class="fa fa-check"></i>
					<h1>Success</h1>
					<h4>Your submission was successful!!!</h4>
				<!-- Sucess --End-- -->
				</div>
				
				<div class="results-cont fail" id="fail">
				<!-- Failure --Start-- -->
					<i class="fa fa-times"></i>
					<h1>Failure</h1>
					<h4>Oops something went wrong, please try again!!!</h4>
				<!-- Failure --End-- -->
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		
		<div class="footer-cont">
			<div class="footer">
			
				<div class="copyright-cont">
					<h4>&copy; 2021 <a href="https://glacial-atoll-14823.herokuapp.com/">MJ Solutions</a></h4>
				</div>
				
				<a href="/" class="footer-logo-cont">
					<img src="/Images/Tharo.png" class="footer-logo">
				</a>
			
			</div>
		</div>
		
	</footer>
</body>
<!-- ^((\+|00|09)\d{2,3}|0)\d{9}$ -->
<script src="/JS/index.js"></script>
<script src="/JS/form-val.js"></script>
</html>