<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info") -%>
<body>
	
	<% const { name, ID, password, confirm } = formData; %>
	
	<div class="form-card-cont">
		<div class="card-cont">
			<div class="form-title-img-cont">
				<img src="/media/Images/Tharo-icon.png" class="form-title-img">
			</div>
			
			<% if(pwdErr === undefined) { %>
			
			<% if(notFound){ %>
				<div class="auth-err-cont">
					<span class="err-msg" id="err-msg" style="display: flex;">Invalid name or ID.</span>
				</div>
			<% }else{ %>
			
				<% if(passwordExist === false) { %>
				<div class="auth-err-cont">
					<span class="err-msg" id="err-msg" style="display: initial;">You have not created a password. Click <a href="/create-password" class="link">here</a> to create your password.</span>
				</div>
				<% }else { %>
				<div class="auth-err-cont">
					<span class="err-msg" id="err-msg"></span>
				</div>
				<% } %>
				
			<% } %>
			<% }else{ %>
			<div class="auth-err-cont">
				<span class="err-msg" id="err-msg" style="display: flex;">Please provide a valid password.</span>
			</div>
			<% } %>
			
			<div class="form-cont">
				<form method="POST" action="/reset" class="form">
					<% if(name === undefined) { %>
					<div class="input-cont">
						<input type="text" placeholder="Full Name" class="input-styling" id="name" name="name">
						<label for="name">Full Name</label>
						<span class="err-msg"></span>
					</div>
					<% }else if(name !== undefined && !fieldValidator.checkEmpty(name)[1]){ %>
					<div class="input-cont">
						<input type="text" placeholder="Full Name" class="input-styling red-border" id="name" name="name">
						<label for="name">Full Name</label>
						<span class="err-msg" style="display: flex;"><%= fieldValidator.checkEmpty(name)[0] %></span>
					</div>
					<% }else if(name !== undefined && fieldValidator.checkEmpty(name)[1]) { %>
					<div class="input-cont">
						<input type="text" placeholder="Full Name" class="input-styling" id="name" name="name" value="<%= fieldValidator.checkEmpty(name)[0] %>">
						<label for="name" class="display-label">Full Name</label>
						<span class="err-msg"></span>
					</div>
					<% } %>
					
					<% if(ID === undefined) { %>
					<div class="input-cont">
						<input type="text" placeholder="Enter your ID" class="input-styling" id="ID" name="ID">
						<label for="ID">ID</label>
						<span class="err-msg"></span>
					</div>
					<% }else if(ID !== undefined && !fieldValidator.checkEmpty(ID)[1]) { %>
					<div class="input-cont">
						<input type="text" placeholder="Enter your ID" class="input-styling red-border" id="ID" name="ID">
						<label for="ID">ID</label>
						<span class="err-msg" style="display: flex;"><%= fieldValidator.checkEmpty(ID)[0] %></span>
					</div>
					<% }else if(ID !== undefined && fieldValidator.checkEmpty(ID)[1]) { %>
					<div class="input-cont">
						<input type="text" placeholder="Enter your ID" class="input-styling" id="ID" name="ID" value="<%= fieldValidator.checkEmpty(ID)[0] %>">
						<label for="ID" class="display-label">ID</label>
						<span class="err-msg"></span>
					</div>
					<% } %>
					
					
					<div class="input-cont password-cont">
					<% if(password === undefined) {%>
						<input type="password" placeholder="Password" class="input-styling" id="pwd" name="password">
						<label for="pwd">Password</label>
						<span class="err-msg"></span>
					<% }else if(password !== undefined && !fieldValidator.checkEmpty(password)[1]) { %>
						<input type="password" placeholder="Password" class="input-styling red-border" id="pwd" name="password">
						<label for="pwd">Password</label>
						<span class="err-msg" style="display: flex;"><%= fieldValidator.checkEmpty(password)[0] %></span>
					<% }else if(password !== undefined && fieldValidator.checkEmpty(password)[1]) { %>
						<input type="password" placeholder="Password" class="input-styling" id="pwd" name="password" value="<%= fieldValidator.checkEmpty(password)[0] %>">
						<label for="pwd" class="display-label">Password</label>
						<span class="err-msg"></span>
					<% } %>
					
						<div class="password-requirements-cont" id="password-requirements-cont">
							<div class="password-req">
								<ul class="password-req-list">
									<li class="list-title">
									<span>Password must:</span>
									  <ul class="list-items">
										  <li>
											  <input type="checkbox" class="checkbox"> 
											  <span>Be atleast 6 characters.</span>
										  </li>
										  
										  <li>
											  <input type="checkbox" class="checkbox"> 
											  <span>Have atleast 1 lowercase letter.</span>
										  </li>
										  
										  <li>
											  <input type="checkbox" class="checkbox"> 
											  <span>Have atleast 1 capital letter.</span>
										  </li>
										  
										   <li>
											  <input type="checkbox" class="checkbox"> 
											  <span>Have atleast 1 number or special character.	</span>
										  </li>
									  </ul>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="input-cont last-child password-cont">
					<% if(confirm === undefined || (confirm !== undefined && !fieldValidator.checkEmpty(confirm)[1])) { %>
						<input type="password" placeholder="Confirm" class="input-styling" id="confirm" name="confirm">
						<label for="confirm">Confirm Password</label>
						<span class="err-msg"></span>
					<% }else if(confirm !== undefined && fieldValidator.checkEmpty(confirm)[1]) { %>
						<input type="password" placeholder="Confirm" class="input-styling" id="confirm" name="confirm" value="<%= fieldValidator.checkEmpty(confirm)[0] %>">
						<label for="confirm" class="display-label">Confirm Password</label>
						<span class="err-msg"></span>
					<% } %>
						
						<div class="password-requirements-cont" id="confirm-pwd">
							<div class="password-req">
								<ul class="password-req-list">
									<li class="list-title">
									<span>Password must:</span>
									  <ul class="list-items">
										  <li>
											  <input type="checkbox" class="checkbox" id="checkbox"> 
											  <span>Match the password above.</span>
										  </li>
										
									  </ul>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="sub-btn-cont">
						<input type="submit" value="Reset password" id="sub-btn">
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/JS/auth.js"></script>
</html>